(
  [
    (
      kind: Terrain,
      name: "GRASS",
      atlas: "sheets/terrain.png",
      atlas_index: 5,
      map_color: "#33cc33",
    ),
    (
      kind: Terrain,
      name: "DIRT",
      atlas: "sheets/terrain.png",
      atlas_index: 15,
      map_color: "#996633",
    ),
    (
      kind: Terrain,
      name: "WATER",
      atlas: "sheets/terrain.png",
      atlas_index: 13,
      map_color: "#3399ff",
    ),
    (
      kind: Terrain,
      name: "STONE",
      atlas: "sheets/terrain.png",
      atlas_index: 12,
      map_color: "#808080",
    ),
    (
      kind: Terrain,
      name: "SAND",
      atlas: "sheets/terrain.png",
      atlas_index: 11,
      map_color: "#ffcc66",
    ),
  ]
)
