[
    (
        "tree_density",
        Fbm(
            seed: 42,
            frequency: 0.025,
            octaves: 4,
            lacunarity: 2.0,
            persistence: 0.5,
        ),
    ),
    ("main", Alias("tree_density")),
]
