[
    (
        "tree_density",
        Fbm(
            seed: 43,
            frequency: 0.15,
            octaves: 3,
            lacunarity: 2.22,
            persistence: 0.5,
        ),
    ),
    ("main", Alias("tree_density")),
]
