[
    (
        name: "TREE",
        tile: "TREE_WALL",
        threshold: -0.1,
        wall_spacing: 2,
        floor_spacing: 1,
        elevation_range: Some((0.1, 0.2)),
        allowed_terrains: ["GRASS"],
    ),
]
