(
    floor: [
        (-0.2, "WATER"),
        (-0.1, "SAND"),
        (0.1, "GRASS"),
        (0.2, "DIRT"),
        (1.0, "STONE"),
    ],
    wall: [
        (0.21, "NONE"),
        (1.0, "STONE_WALL"),
    ],
)
